extends ../layouts/layout
block main-content
  div.form_global
   div.form_global_center 
    form
      h1.form__title Introducir Documento
      div.form-group.container--flex
        label(for="name").form__label Nombre
        input(type="text", name="name").form-control.form__input#Name

      div.form-group.container--flex
        label(for="nameF").form__label Seleccionar archivo
        input(type="file", name="file").form-control.form_input#nameF

      button(type="submit").btn.btn-primary Enviar
    
    
