extends ../layouts/layout
block main-content
  .d-flex.justify-content-center.align-items-center.flex-column 
    .col-12
      a.btn.btn-secondary.col-auto(href="/pdf/create") Nuevo pdf
    table.table.col-sm-10.col-md-8.col-lg-6.mx-auto
      thead
        tr
          th Id
          th Nombre
          th Link
          th Acciones
      tbody 
        each item, index in data
          tr
            td=item.id
            td=item.name
            td=item.url 
            td
              .d-flex(style="gap: 15px")
                a.btn.btn-light(href=""+item.linkToFlipbook target="_blank") Flipbook
                a.btn.btn-danger(href="/pdf/"+item.id+"/delete" target="_blank") Eliminar

            