extends ../layouts/layout
block main-content
  form
    div.form-group
      label(for="Name") Nombre
      input(type="text", name="nameN").form-control#Name

    div.form-group
      label(for="nameFile") Seleccionar archivo
      input(type="file", name="nameFile").form-control-file
   
  
