.content-center {
    display: flex;
    min-height: 100vh;
    background-color: rgb(152, 158, 243);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content-center p {
    color: black;
    font-weight: bold;
    font-size: 2rem;
}


/*formularios*/