.content-center {
  display: flex;
  min-height: 100vh;
  background-color: rgb(152, 158, 243);
  width: 100%;
  justify-content: center;
  align-items: center;
}

.content-center p {
  color: black;
  font-weight: bold;
  font-size: 2rem;
}

/*formularios*/

.form_global {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_global_center {
  width: 95%;
  max-width: 500px;
  background: white;
  padding: 20px;
}

.form__title {
  margin-top: 0;
  font-size: 1.7;
  text-align: center;
}

.form__label,
.form__input {
  display: block;
}
